/* src/styles/common.css */
.search-container {
  margin-bottom: 25px;
  margin-top: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  font-size: 1rem;
}

.status-badge { padding: 4px 8px; border-radius: 12px; font-weight: bold; color: white; font-size: 0.8rem; }
.status-badge.pending_approval { background-color: #dd6b20; } /* Naranja */
.status-badge.active { background-color: #38a169; } /* Verde */
.status-badge.suspended { background-color: #718096; } /* Gris */